# Example
# Do NOT use in production
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=simpro
DATABASE_URL=postgres://postgres:postgres@localhost:15432/simpro

PGDATA=/var/lib/postgresql/data
POSTGRES_HOST_AUTH_METHOD=scram-sha-256
SERVER_ADDRESS=127.0.0.1:3000
DATABASE_SYNC_INTERVAL_MINUTES=5
LOG_LEVEL=debug

POSTMAN_API_KEY=