POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_NAME=simpro
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_HOST_AUTH_METHOD=scram-sha-256

LISTEN_ADDRESS=0.0.0.0:3000
RUST_LOG_LEVEL=debug
# How often (in seconds) the database is synchronized
# by retrieving (hydration) buffered record IDs
# (from CREATE and UPDATE webhook payloads)
# and persisting them in the database
DATABASE_SYNC_INTERVAL=300
# Maximum number of pending simPRO record IDs per buffer 
# before triggering hydration (API retrieval) 
# and upsertion (database upsert)
SYNC_THRESHOLD=10

SIMPRO_API_KEY=
SIMPRO_DOMAIN=simprosuite.com
SIMPRO_COMPANY_ID=0
SIMPRO_WEBHOOK_SECRET=
WEBHOOK_EVENTS_FILE=data/webhook-events.json

POSTMAN_API_KEY=

NGROK_AUTHTOKEN=
NGROK_URL=